@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer {
    position: relative;
    background: #11111111;
    background-image: linear-gradient(
        to right,
        #11111111 0%,
        #11111105 10%,
        #11111111 20%,
        #11111105 30%,
        #11111111 50%,
        #11111105 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 100%;
    animation: shimmer 1s infinite ease-in-out forwards;
    -webkit-animation: shimmer 1s infinite ease-in-out forwards;
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}
